<h2>Register</h2>
<form
  method="POST"
  action="/auth/register"
>
  <input
    name="name"
    placeholder="Full Name"
    required
  /><br />
  <input
    name="email"
    placeholder="Email"
    required
  /><br />
  <input
    name="password"
    type="password"
    placeholder="Password"
    required
  /><br />
  <label>Select Role:</label><br />
  <select
    name="role"
    required
  >
    <option value="customer">Customer</option>
    <option value="admin">Shop Admin</option></select
  ><br /><br />
  <button type="submit">Register</button>
</form>
<br />
<a href="/">Go Back</a>
