<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
  </head>
  <body>
    <h1>Shop Admin Dashboard</h1>
    <p>Welcome, <%= user.username %></p>
    <a href="/logout">Logout</a>
  </body>
</html>
