<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof title !== 'undefined' ? title : 'TuckLine' %></title>
    <link
      rel="stylesheet"
      href="/styles/style.css"
    />
  </head>
  <body>
    <%- body %>
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
